@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat.ttf');
  }

html, body {
  margin: 0;
  height: 100%;
    
}

.header {
    background-color: black;
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 10vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: green;
    font-family: 'Montserrat';
    
    
}
  
.display-response {
    font-size: 35px;
    margin-top: 10vh;
  }

  
.product-input {
    font-size: 30px;
    width: 25%;
    margin: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 3vh;
    font-family: 'Montserrat';
    
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
  }

input {
    height: 30px;
    font-size: 30px;
}

button {
font-size: 30px;
  }

 